* {
  box-sizing: border-box;
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 12px;
  background-color: #212529;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgba(209, 209, 209));
  border-radius: 5px;
}
.navbar {
  background-color: #121212;
}
.card-title {
  font-size: 12pt;
}
.card-text {
  font-size: 10pt;
}

/* Tilt JS */
.logo-box {
  transform-style: preserve-3d;
  width: 12rem;
  margin: auto;
  border-radius: 50%;
  background: #121212;
}
.logo-box img {
  background: transparent;
  transform: translate3d(0, 0, 50px);
}

.software-box {
  padding: 2rem;
}

/*Jumbotron*/
#jumbotron {
  padding-top: 6rem;
  height: 450px;
  background-color: #1f1f1f;
  z-index: 999;
}

#jumbotron h1,
#jumbotron p {
  color: #cacaca;
}

#jumbotron .kata:hover {
  font-weight: bold;
  color: #fff;
}

/*About*/
#about {
  background-color: #121212;
  padding-bottom: 4rem;
  color: #cccccc;
  overflow: hidden;
  margin-top: -5rem;
}
#about .container {
  margin-top: -5rem;
}
#about middle {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
#about .middle .btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 1vw;
  border-radius: 30%;
  color: #ccc;
  overflow: hidden;
  position: relative;
}
#about .middle .btn i {
  margin-top: 1.5vh;
  transition: 0.2s linear;
}
#about .middle .btn:hover i {
  transform: scale(1.5);
  color: #121212;
}
#about .middle .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ccc;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
#about .middle .btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

/*Skill*/
#skill {
  margin-top: -10rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #1f1f1f;
  color: #ccc;
}

#skill .card {
  margin: 0 30px 30px 20px;
}
#skill .content {
  display: block;
}
#skill i {
  padding-top: 1rem;
  font-size: 50px;
}
#skill i.fa-html5 {
  color: #ccc;
}
#skill i.fa-css3-alt {
  color: #ccc;
}
#skill i.fa-bootstrap {
  color: #ccc;
}
#skill i.fa-php {
  color: #ccc;
}
#skill i.fa-laravel {
  color: #ccc;
}

/*Projects*/
#projects {
  padding-top: -2rem;
  padding-bottom: 4rem;
  background-color: #121212;
  color: #000;
}
h2 {
  margin-top: -7rem;
}

/* Gallery */
#gallery {
  color: #ccc;
  margin-top: -7rem;
  background-color: #1f1f1f;
}

/* Certificate */
#certificate {
  background-color: #121212;
  overflow: hidden;
}
#certificate * {
  background-color: #121212;
}

/* Contact */
#contact {
  background-color: #1f1f1f;
  color: #ccc;
}
#contact input,
#contact textarea {
  background-color: #1f1f1f;
}

/*Footer*/
#footer {
  font-size: 14px;
  background-color: #121212;
}
#footer p {
  margin-top: -7rem;
}
#footer a {
  text-decoration: none;
  color: #ccc;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .love {
  animation: love 5s infinite;
}

/*section*/
section {
  padding-top: 10rem;
}

/* Media Query */
@media (max-width: 676px) {
  #skill .content {
    display: flex;
  }
  #skill .card {
    margin: 15px auto;
    width: 150px;
  }
}

@media (max-width: 1946px) {
  .none {
    display: none;
  }
}

/*Animasi*/
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}
